{% load static %}
<style>
    .td-left {
        text-align: left;
    }
    .td-right {
        text-align: right;
    }
    .th-right {
        text-align: right;
        padding: 10px;
    }
</style>
<!-- Loan Info -->
<h2>Take Out a Loan</h2>
<hr>
<form action="{% url 'loan' %}" method="post" >
<table>
    <tr>
        <th class="th-right">Borrower</th>
        <td class="td-left">
            <select name="borrower">
                {% for user in borrowers %}
                    <option value="{{ user.key }}">{{ user.name }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <th class="th-right">Principal</th>
        <td class="td-left"><input type="text" name="principal" /></td>
    </tr>
    <tr>
        <th class="th-right">Number of Payments</th>
        <td class="td-left">
            <select name="num_payments">
                {% for num in payments %}
                    <option>{{ num|floatformat:"0" }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <th class="th-right">Currency</th>
        <td class="td-left">
            {% for val in currencies %}
                <input type="radio" name="currency" value="{{ val }}">{{ val }}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <td class="td-left"><input type="submit" name="Submit" /></td>
    </tr>
</table>
</form>
<!-- Proposals -->
<h2>Proposals</h2>
<hr>
{% if have_any %}
<table>
    <tr>
        <th class="th-right">Principal</th><td class="td-left">{{ principal|floatformat:2 }} {{ currency }}</td>
        <th class="th-right"># Payments</th><td class="td-left">{{ numPayments }}</td>
    </tr>
</table>
<form action="{% url 'loan.accept' %}" method="post">
<table border=1>
    <tr><th>Lender</th><th>Business</th><th>Annual Rate</th><th>Effective Rate</th><th>Monthly Payment</th><th>Yes!</th></tr>
    {% for lenderKey,loan in proposals.items %}
        <tr>
            <td class="td-left">{{ loan.lenderName }}</td>
            <td class="td-left">{{ loan.lenderBusiness }}</td>
            <td class="td-right">{{ loan.loanInfo.annualRate|floatformat:4 }}%</td>
            <td class="td-right">{{ loan.loanInfo.effectiveRate|floatformat:4 }}%</td>
            <td class="td-right">{{ loan.loanInfo.monthlyPayment|floatformat:2 }} {{ currency }}</td>
            <td><input type="checkbox" name="lender" value="{{ lenderKey }}" /></td>
        </tr>
    {% endfor %}
</table>
<input type="hidden" name="borrower" value="{{ borrower }}" />
<input type="submit" value="Accept" name="accept"/>
<input type="submit" value="Cancel" name="cancel" />
</form>
{% else %}
    None
{% endif %}
<hr>
{{ message }}
