{% load static %}
<style>
    .td-left {
        text-align: left;
    }
    .td-right {
        text-align: right;
    }
    .th-right {
        text-align: right;
        padding: 10px;
    }
</style>
<!-- Loan Info -->
<h2>Total Amount Lent By Lender</h2>
<hr>
<table border=1>
    <tr><th>Business</th><th>Country</th><th>Total Lent</th>
        <th>Business</th><th>Country</th><th>Total Lent</th></tr>
    {% for doc in totals %}
        {% if doc.total %}
            {% if forloop.counter0|divisibleby:2 %}
            <tr>
            {% endif %}
                <td class="td-left">{{ doc.businessName }}</td>
                <td class="td-left">{{ doc.address.country }}</td>
                <td class="td-right">{{ doc.total }}</td>
            {% if not forloop.counter0|divisibleby:2 %}
            </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
</table>
