    {% load static %}
    <h3>Property Name</h3>
    <div class="row">
        <div class="col-md-4">{{ form.prop_partnerKey.label_tag }}</div>
        <div class="col-md-4">{{ form.prop_partnerKey }}</div>
        <div class="col-md-4">{{ form.prop_partnerKey.errors }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form.prop_propName.label_tag }}</div>
        <div class="col-md-4">{{ form.prop_propName }}</div>
        <div class="col-md-4">{{ form.prop_propName.errors }}</div>
    </div>
