    {% load static %}
    <h3>Contact Name</h3>
    <div class="row">
        <div class="col-md-4">{{ form.name_title.label_tag }}</div>
        <div class="col-md-4">{{ form.name_title }}</div>
        <div class="col-md-4">{{ form.name_title.errors }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form.name_first.label_tag }}</div>
        <div class="col-md-4">{{ form.name_first }}</div>
        <div class="col-md-4">{{ form.name_first.errors }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form.name_middle.label_tag }}</div>
        <div class="col-md-4">{{ form.name_middle }}</div>
        <div class="col-md-4">{{ form.name_middle.errors }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form.name_last.label_tag }}</div>
        <div class="col-md-4">{{ form.name_last }}</div>
        <div class="col-md-4">{{ form.name_last.errors }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form.name_suffix.label_tag }}</div>
        <div class="col-md-4">{{ form.name_suffix }}</div>
        <div class="col-md-4">{{ form.name_suffix.errors }}</div>
    </div>

