{% load static %}
<style>
.check_horizontal {
    list-style: none;
    display: inline-flex;
    margin-left: -40px;
}
li label,input {
    display:block;
    margin-right: 20px;
}
.extra {
    padding-bottom: 20px;
}
</style>
<section class="section transheader homepage parallax" data-stellar-background-ratio="0.5" style="background-color: #BFBFBF;">
    <div class="container" style="margin-top: -100px;">
        <form action="{{ action }}" method="post">
            {% csrf_token %}
            <h1>Choose Partner and Property</h1>
            <div class="row extra" style="background-color: #E6E6FA;">
                <div class="col-md-6">
                    {{ choose_partner_form }}
                </div><!-- end col -->
                <div class="col-md-6" style="background-color: #D6D6F0;">
                    {{ choose_property_form }}
                </div><!-- end col -->
            </div><!-- end row -->
        <input type="submit" value="Submit">
        </form>
        {{ message }}
    </div><!-- end container -->
</section><!-- end section -->

