{% load static %}
    <h3>Property Location</h3>
    <div class="row">
        <div class="col-md-3">{{ form.location_streetAddress.label_tag }}</div>
        <div class="col-md-4">{{ form.location_streetAddress }}</div>
        <div class="col-md-4">{{ form.location_streetAddress.errors }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ form.location_buildingName.label_tag }}</div>
        <div class="col-md-4">{{ form.location_buildingName }}</div>
        <div class="col-md-4">{{ form.location_buildingName.errors }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ form.location_floor.label_tag }}</div>
        <div class="col-md-4">{{ form.location_floor }}</div>
        <div class="col-md-4">{{ form.location_floor.errors }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ form.location_roomAptCondoFlat.label_tag }}</div>
        <div class="col-md-4">{{ form.location_roomAptCondoFlat }}</div>
        <div class="col-md-4">{{ form.location_roomAptCondoFlat.errors }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ form.location_city.label_tag }}</div>
        <div class="col-md-4">{{ form.location_city }}</div>
        <div class="col-md-4">{{ form.location_city.errors }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ form.location_stateProvince.label_tag }}</div>
        <div class="col-md-4">{{ form.location_stateProvince }}</div>
        <div class="col-md-4">{{ form.location_stateProvince.errors }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ form.location_locality.label_tag }}</div>
        <div class="col-md-4">{{ form.location_locality }}</div>
        <div class="col-md-4">{{ form.location_locality.errors }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ form.location_country.label_tag }}</div>
        <div class="col-md-4">{{ form.location_country }}</div>
        <div class="col-md-4">{{ form.location_country.errors }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ form.location_postalCode.label_tag }}</div>
        <div class="col-md-4">{{ form.location_postalCode }}</div>
        <div class="col-md-4">{{ form.location_postalCode.errors }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ form.location_latitude.label_tag }}</div>
        <div class="col-md-4">{{ form.location_latitude }}</div>
        <div class="col-md-4">{{ form.location_latitude.errors }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ form.location_longitude.label_tag }}</div>
        <div class="col-md-4">{{ form.location_longitude }}</div>
        <div class="col-md-4">{{ form.location_longitude.errors }}</div>
    </div>
